:root {
    --ns-yellow: #ffc917;
    --ns-blue: #2455e6;
    --ns-green: #00c690;
    --ns-darkblue: #003082;
    --ns-white: #fdfcfc;
    --ns-white-gray: #e6e6e9;
    --ns-black: #000;
}

body {
    background-color: var(--ns-yellow);
}

h1 {
    text-align: center;
    font-size: 2em;
}

/* page 1 - info over overledene */
/* fieldsets & legends */
fieldset {
    border: none;
    background-color: var(--ns-white);
    margin-bottom: 1rem;
    height: 100%;
}

fieldset:first-of-type {
    display: flex;
    flex-direction: column;
}

legend {
    width: 100%;
    color: var(--ns-darkblue)
}

.title-gegevens-overlende {
    font-size: 1.3em;
    text-align: center;
    background: none
}

fieldset fieldset legend{
    font-size: 1rem;
}




/* labels & inputs */
.radio-question legend {
    margin-bottom: 1rem;
}

.radio-question label {
    display: flex;
    align-items: center;
    background-color: var(--ns-white-gray);
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    padding: 0.2rem;
}

.radio-question label:first-of-type {
    margin-bottom: 0.4rem;
}

input[type=radio] {
    background-color: var(--ns-green);
    border: none;
}

input[type=text] {
    background-color: var(--ns-white-gray);
    width: 100%;
    height: 3rem;
    border-radius: 5px;
    border: none;
    margin-bottom: .5rem
}



button[type=submit] {
    width: 100%;
    height: 3rem;
}