:root {
    --ns-yellow: #ffc917;
    --ns-blue: #2455e6;
    --ns-green: #00c690;
    --ns-darkblue: #003082;
    --ns-white: #fdfcfc;
    --ns-gray: #e6e6e9;
    --ns-darker-gray: #e4e5e8;
    --ns-black: #000;
    --ns-red: #f8374b;
}

@font-face {
    font-family: 'bold';
    src: url('./fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'medium';
    src: url('./fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'ragular';
    src: url('./fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'thin';
    src: url('./fonts/Roboto-Thin.ttf');
}

body {
    background-color: var(--ns-yellow);
}

h1 {
    text-align: center;
    font-family: 'bold';
    font-size: 2em;
}

/* paginas */
.pagina {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.pagina.active {
    opacity: 1;
    pointer-events: all;
    position: relative;
    height: auto;
}

.pagination {
    display: flex;
    justify-self: center;
    justify-content: center;
    gap: 2rem;
    width: 80%;
}

.pagination button {
    width: 35%;
    height: 8vh; 
}


/* fieldsets & legends */
fieldset {
    border: none;
    background-color: var(--ns-white);
    margin-bottom: 1rem;
    height: 100%;
}

legend {
    width: 100%;
    color: var(--ns-darkblue);
    font-family: 'medium';
}

fieldset:first-of-type {
    display: flex;
    flex-direction: column;
}

.title-gegevens-overlende {
    font-size: 1.3em;
    text-align: center;
    background: none
}

.radio-question legend {
    margin-bottom: 1rem;
}

/* labels & inputs */
label {
    font-family: 'ragular';
}

.radio-question label {
    display: flex;
    align-items: center;
    background-color: var(--ns-white);
    font-size: .9rem;
    width: 100%;
    height: 2rem;
    padding: 0.5rem;
    border: solid 1px var(--ns-blue);
    border-radius: 4px;
}

.radio-question label:has(input[type=radio]:checked) {
    background-color: var(--ns-blue);
    color: var(--ns-white);
    box-shadow: inset 0 -3px 0 var(--ns-darkblue);
}

.radio-question label:first-of-type {
    margin-bottom: 0.4rem;
}

input[type=radio] {
    appearance: none;
}

input[type=text] {
    background-color: var(--ns-gray);
    width: 100%;
    height: 3rem;
    border-radius: 5px;
    border: 1.5px solid var(--ns-darker-gray);
    margin-bottom: .5rem;
}

input[type=text]:focus {
   border: solid 1.5px var(--ns-blue);
}

input[type=text]:required:valid {
    border: solid 1.5px var(--ns-green);
}

label:has(input[type=date]) {
    display: flex;
    flex-direction: column;
   
    &:input {
    background-color: var(--ns-white);
    color: var(--ns-blue);
    border: solid 1px var(--ns-yellow);
    height: 100px;
    }
}

button[type=submit] {
    width: 100%;
    height: 3rem;
}

.bsn-error {
    font-family: 'regular';
    color: var(--ns-red);
    margin: 0;

}
.hidden {
    display: none;
}


/* removing unnacessary questions */
@keyframes removeQuestion {
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

/* selector geschreven met behulp van klasgenoot Ocean, hij had een soort gelijke selector in css */
fieldset[name="overledene-partners"]:has(input[name="radio1"][value="nee"]:checked) ~ fieldset[name="vervolgvraag-partners"],
fieldset[name="overledene-kinderen"]:has(input[name="radio4"][value="nee"]:checked) ~ fieldset[name="vervolgvraag-kinderen"],
fieldset[name="overledene-testament"]:has(input[name="radio7"][value="nee"]:checked) ~ fieldset[name="overledene-notaris"]  { 
    pointer-events: none;
    animation-name: removeQuestion;
    animation-duration: .5s;
    animation-fill-mode: both;
}