:root {
    --ns-yellow: #ffc917;
    --ns-dark-yellow: #eeb408;
    --ns-blue: #0079d3;
    --ns-green: #00c690;
    --ns-darkblue: #005ca0;
    --ns-white: #fdfcfc;
    --ns-gray: #e6e6e9;
    --ns-darker-gray: #ccc;
    --ns-black: #000;
    --ns-red: #f8374b;

    --ns-transparent-black: rgb(0, 6, 33, .16);
}


/* Add fallback fontsss */
@font-face {
    font-family: 'Bold';
    src: url('./fonts/Roboto-Bold.ttf') format(truetype);
}

@font-face {
    font-family: 'Medium';
    src: url('./fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Regular';
    src: url('./fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Thin';
    src: url('./fonts/Roboto-Thin.ttf');
}

body {
    background-color: var(--ns-gray);
}

header {
    width: 100%;
    height: 5rem;
    background-color: var(--ns-yellow);
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    z-index: -1
}

h1 {
    font-family: 'Medium';
    font-size: 1rem;
    margin: 0;
}

form {
    background-color: var(--ns-white);
    margin-bottom: 2rem;
    margin-top: 8rem;
    box-shadow: inset 0px -3px var(--ns-darker-gray);
}

select {
    width: 100%;
    margin-bottom: 3rem;
}

/* pagination */
.pagina {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    margin-bottom: 3rem;
}

.pagina:nth-of-type(2) {
    padding-top: 2rem
}

.pagina.active {
    opacity: 1;
    pointer-events: all;
    position: relative;
    height: auto;
}

.pagination, .submitting {
    width: 100%;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 5em;
}

.submitting {
    justify-content: center;
}

.pagination button, .submitting button {
    width: 35%;
    height: 6vh; 
    max-width: 200px;
    background-color: var(--ns-blue);
    color: var(--ns-white);
    border: none;
    box-shadow: inset 0px -3px var(--ns-darkblue);
}

.pagination button:hover {

    box-shadow: inset 0px -300px var(--ns-darkblue);
    transition: .7s
}

.pagination button:first-of-type {
    background-color: transparent;
    box-shadow: none;
    color: var(--ns-darkblue)
}

.pagination p {
    font-family: 'Regular';
}

/* fieldsets & legends */
fieldset {
    border: none;
    margin-bottom: 1rem;
    margin: 0;

    > fieldset {
        padding: 0;
    }
}

legend {
    width: 100%;
    color: var(--ns-darkblue);
    font-family: 'Regular';
    font-size: 1.1em;
    margin-bottom: 1rem;
}

fieldset:first-of-type {
    display: flex;
    flex-direction: column;
}

.radio-question {
    margin: 0;
    margin-bottom: 2rem;
}

.title-sections {
    font-family: 'Thin';
    font-size: 2em;
    text-align: start;
    padding: 0;
    margin: 0;
}

/* labels & inputs */
label {
    font-family: 'Regular'
}

.radio-question label {
    display: flex;
    align-items: center;
    font-size: .9rem;
    height: 2rem;
    padding: 0.5rem;
    border: solid 1px var(--ns-transparent-black);
    border-radius: 4px;

    &:hover {
    border: solid 1px var(--ns-darkblue);   
    }
}

.radio-question label:has(input[type=radio]:checked) {
    background-color: var(--ns-blue);
    color: var(--ns-white);
    box-shadow: inset 0 -3px 0 var(--ns-darkblue);
}

.radio-question label:first-of-type {
    margin-bottom: 0.4rem;
}

input[type=radio] {
    appearance: none;
}

input[type=date] {
    height: 2.5rem;
    width: 100%;
    background-color: white;
    border: none;
    margin-bottom: 1rem;
}

input[type=text] {
    width: 100%;
    height: 2.5rem;
    background-color: var(--ns-white);
    border: 1px solid var(--ns-transparent-black);
    margin-bottom: 1.5rem;
}

input[type=text]:focus {
   border: solid 1.5px var(--ns-blue);
}

input[type=text]:required:valid {
    border: solid 1.5px var(--ns-green);
}

label:has(input[type=date]) {
    display: flex;
    flex-direction: column;
}

label:has(input[type=text],input[type=date]) p {
    font-size: .9em;
    margin: 0;
    margin-bottom: .5rem;
}

/* bsn custom message */
.bsn-label {
    margin-bottom: 1.5rem;
}

input.bsn-input {
    margin: 0;
}

.bsn-error {
    font-family: 'Regular';
    font-size: .8em;
    color: var(--ns-red);
    margin: 0;
}

.hidden {
    display: none;
}

/* removing unnacessary questions */
@keyframes removeQuestion {
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

/* selector geschreven met behulp van klasgenoot Ocean, hij had een soort gelijke selector in css */
fieldset[name="overledene-partners"]:has(input[name="radio1"][value="nee"]:checked) ~ fieldset[name="vervolgvraag-partners"],
fieldset[name="overledene-kinderen"]:has(input[name="radio4"][value="nee"]:checked) ~ fieldset[name="vervolgvraag-kinderen"],
fieldset[name="overledene-testament"]:has(input[name="radio7"][value="nee"]:checked) ~ fieldset[name="overledene-notaris"]  { 
    pointer-events: none;
    animation-name: removeQuestion;
    animation-duration: .5s;
    animation-fill-mode: both;
}



/* gegevens gmachtigde */
.gemachtigden label {
    display: none;
}

.gemachtigden:has(select option[value=BSN-of-RSIN]:checked) label:first-of-type{
    display: block;
}

.gemachtigden:has(select option[value=beconnummer]:checked) label:nth-of-type(2){
    display: block;
}

.gemachtigden:has(select option[value=protocolnummer]:checked) label:nth-of-type(3){
    display: block;
}


/* big screen */
@media (min-width: 800px) {
    body {
        margin: 0;
    }

    header {
        z-index: -9999;
    }
       
    form {
        width: 800px;
        display: flex;
        flex-direction: column;  
        justify-self: center;
        align-items: center;

        z-index: 9999;
    }

    .pagina.active {
        width: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:0;


        > fieldset {
            width: 700px;
        }
    }

    input[type=text] {
        width: 700px; 
    }

    .pagination {
        width: 800px;
    }

}